<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>786</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>785</string>
					<key>Timestamp</key>
					<string>781671242.3860281</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>ChatGPTCoreModel_playground/ContentView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//                var fullResponse = try await makeAbstractGenerable(instructions: instructions, prompt: prompt)
</string>
				<key>leading</key>
				<string>            //            let stream = session.streamResponse(to: prompt, generating: AbstractGenerable.PartiallyGenerated.self) /*String.PartiallyGenerated.self)*/
//            do {
</string>
				<key>trailing</key>
				<string>//                await queue.updateResponse(for: abstract.id, response: fullResponse.abstract, isCompleted: true)
//            } catch {
//                await queue.updateResponse(for: abstract.id, response: "Error: Received empty response from language model", isCompleted: true)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
